/*------------ COLOR LIBRARY--------------*/

// Greys
$grey-secondstory--light: #EDEADC
$grey-secondstory--medium: #75738B
$grey-secondstory: #1E1E1E

// Whites
$white-secondstory: #F6F5EE

// Oranges
$orange-secondstory: #D6A34B
$orange-secondstory--dark: #D48158

// Blues
$blue-aero: #7CB9E8
$blue-azure: #007FFF

/*-------------COLOR PALLETES--------------*/

//SECOND STORY
$grey-secondstory--light: #EDEADC
$grey-secondstory--medium: #75738B
$grey-secondstory: #1E1E1E
$white-secondstory: #F6F5EE
$orange-secondstory: #D6A34B
$orange-secondstory--dark: #D48158
