@import 'color'
@import 'color-schemer'
@import 'typography'

//-------------COLOR-------------//
//Using the color-schemer from Team-Sass to compoud schemes

$cs-primary           : blue
$cs-scheme            : tetrad // mono, complement, triad, tetrad, analogic, accented-analogic
$cs-hue-offset        : 30 
$cs-brightness-offset : false //use a numeric value to create the mono scheme
$cs-color-model       : ryb //rgb or ryb

//-------PRIMARY-------//
$primary: cs-primary()
$ratio:2

$primary-color--very-soft: pallete-auto($primary, very-soft, $ratio)
$primary-color--soft: pallete-auto($primary, soft, $ratio)
$primary-color--moderately-soft: pallete-auto($primary, moderately-soft, $ratio)
$primary-color: $primary
$primary-color--moderately-loud: pallete-auto($primary, moderately-loud, $ratio)
$primary-color--loud: pallete-auto($primary, loud, $ratio)
$primary-color--very-loud: pallete-auto($primary, very-loud, $ratio)

//-------SECONDARY------//
$secondary: cs-secondary()
$ratio: 2

$secondary-color--very-soft: pallete-auto($secondary, very-soft, $ratio) 
$secondary-color--soft: pallete-auto($secondary, soft, $ratio)
$secondary-color--moderately-soft: pallete-auto($secondary, moderately-soft, $ratio)
$secondary-color: $secondary
$secondary-color--moderately-loud: pallete-auto($secondary, moderately-loud, $ratio)
$secondary-color--loud: pallete-auto($secondary, loud, $ratio)
$secondary-color--very-loud: pallete-auto($secondary, very-loud, $ratio)

//-------TERTIARY-------//
$tertiary: cs-tertiary()
$ratio: 2

$tertiary-color--very-soft: pallete-auto($tertiary, very-soft, $ratio)
$tertiary-color--soft: pallete-auto($tertiary, soft, $ratio)
$tertiary-color--moderately-soft: pallete-auto($tertiary, moderately-soft, $ratio)
$tertiary-color: $tertiary
$tertiary-color--moderately-loud: pallete-auto($tertiary, moderately-loud, $ratio)
$tertiary-color--loud: pallete-auto($tertiary, loud, $ratio)
$tertiary-color--very-loud: pallete-auto($tertiary, very-loud, $ratio)

//--------QUADRARY-------//
$quadrary: cs-quadrary()
$ratio:2

$quadrary-color--very-soft: pallete-auto($quadrary, very-soft, $ratio)
$quadrary-color--soft: pallete-auto($quadrary, soft, $ratio)
$quadrary-color--moderately-soft: pallete-auto($quadrary, moderately-soft, $ratio)
$quadrary-color: $quadrary
$quadrary-color--moderately-loud: pallete-auto($quadrary, moderately-loud, $ratio)
$quadrary-color--loud: pallete-auto($quadrary, loud, $ratio)
$quadrary-color--very-loud: pallete-auto($quadrary, very-loud, $ratio)

//**** TYPOGRAPHY ****//

$primary-font: $font-family--baskerville
$secondary-font: $font-family--julius
