=heading-text
  h1
    font-family: $secondary-font
    font-size: 4em
    text-transform: uppercase
  p
    font-family: $primary-font
    font-size: 1.5em
  strong, b
    font-weight: bold
  em, i
    font-style: italic
